# ًں”¥ Django Core
Django
djangorestframework
asgiref
sqlparse

# ًں—„ï¸ڈ Database
psycopg2-binary
dj-database-url

# âڑ™ï¸ڈ Environment
python-dotenv
django-environ

# ًںŒگ API
django-filter
django-cors-headers

# ًں“ڑ Docs
drf-spectacular
drf-spectacular-sidecar

# ًں”گ Auth & Security
djangorestframework_simplejwt
PyJWT
cryptography

# ًں”گ Google Auth
google-auth
google-api-python-client

# ًںڑ€ Production
gunicorn
whitenoise

# ًںŒچ HTTP
requests
urllib3




# # ًں”¥ Core AI
# torch
# transformers
# sentence-transformers

# # ًں“ٹ ML
# scikit-learn
# scipy
# numpy

# # ًں“ٹ Data
# pandas
# pyarrow

# # ًں”چ Search / NLP
# faiss-cpu
fuzzywuzzy
RapidFuzz

# ًں¤– APIs
openai
anthropic

# # ًں¤— HuggingFace
# huggingface_hub
# tokenizers
# safetensors



# ًں§ھ Debug & Tools
django-extensions
autopep8
rich

# ًں§ھ Testing / Utils
pytest
tqdm

# ًں§ھ Git
GitPython

# ًںŒگ Dev servers
uvicorn

# ًں–¥ï¸ڈ Optional UI / Testing
#streamlit

# ًں¤– Scraping (ظ„ظˆ ظ…ط­طھط§ط¬)
selenium
beautifulsoup4
lxml
webdriver-manager
